

/*========================*/
@media (max-width: 991px){
	.banner-section .btn.btn1{
		padding: 18px 20px;
	}
}

@media (max-width: 767px){
	body h2{
		font-size: 26px;
	}
	.banner-section{
	  	padding: 45px 10px;
	}
	.banner-section h1{
		font-size: 60px;
	  }

	.banner-section .txt{
		margin-bottom: 30px;
	}
	.section1 .box{
	  margin-bottom: 45px;
	}
	.menu nav.navbar .navbar-nav {
	    padding: 10px !important;
	}
}

@media (max-width: 575px){
	.banner-section h1{
		font-size: 45px;
	  }

	.banner-section .btn.btn1 {
	    font-size: 15px;
	}
}